!!! Strict
%html{lang: 'en', xmllang: 'en', xmlns: 'http://www.w3.org/1999/xhtml'}
  %head
    %title ...
    %link{href: 'http://rking.sharpsaw.org/resume/stylesheets/screen.css', media: 'screen, projection', rel: 'stylesheet'}/
    %link{href: 'http://rking.sharpsaw.org/resume/stylesheets/print.css', media: 'print', rel: 'stylesheet'}/
  %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
  %body
    %h1 Sharpened to a Fine Point

At SocialText, we had a common set of dotfiles and scripts that helped make
pair programming easier.

Ingy döt Net generalized the idea and made [...](https://gitub.com/ingydotnet/...) 

There are several levels you can opt-in, and each one is pretty simple:

%h2 Checkpoint 1 - Personal Config Symlinker

If you have an existing Github repository for your config files, you probably have an ad-hoc script to symlink those files into your home dir.

%pre
  Code: TODO

%h2 Checkpoint 2 - Buddy Mode

If you want get more dense you can use to repository here's an example using mine and my friends repositories

%h2 Checkpoint 3 - Private Repos

%pre
  Code: TODO

Just because it is easy to use public repos does not mean that everything must be public.

Simply add a URL for a host that only you can reach

%pre
  ssh otherhost git init --bare
  \# TODO

%h2 Checkpoint 4 - Sharpsaw Setup

Full on social configuration

Key ideas include
%ul
  %li organizing repos according to reasonable boundaries.
  %li aggressive and conservative configuration, mixed and matched
  %li concensus and exploration
  %li Constant improvement


%h2 TODO

%ul
  %li Mention ...@
  %li Mention ...each
  %li Time to update vs super_upgrade_install
  %li IRC channel - irc.freenode.net/#sharpsaw

